/********** Template CSS **********/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
    --primary: #7EBC12;
    --secondary: #ff4500;
    --light: #F2F2F2;
    --dark: #1D2833;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Back to top ***/
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    text-shadow: 0px 2px 3px black;
}


/*** Heading ***/
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: .5s;
}

.ola {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: .5s;
    color: #FFFFFF;
    padding: 13px;
    border: none;
    background-color: #ff4500;
    font-weight: 600;
}
.ola:hover {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    letter-spacing: 1px;
    color: #FFFFFF;
    
}
.move-top{
    position: relative;
    bottom: 30px;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}


.bg-donate {
    --tw-bg-opacity: 1;
    background-color: rgb(222 242 241/var(--tw-bg-opacity));
    font-size: small;
    color: orangered;
    font-weight: 600;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 8px;
}
.weight7{
    font-weight: 700;
}

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    font-size: 11.5px;
    font-family: sans-serif;
    color: #FFFFFF !important;
    text-transform: uppercase;
    font-weight: 800;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary) !important;
}

.navbar-light .navbar-brand h2{
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 80px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand h2 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .sticky-top.navbar-light .navbar-brand h2 {
        color: var(--primary);
    }
}


/*** Hero Header ***/
.hero-header {
    background:
        url(../img/bg-round.png),
        url(../img/bg-round-2.png),
        url(../img/bg-square.png),
        url(../img/bg-line.png),
        url(../img/bg-bottom-hero.png),
        url(../img/bgwhite.png);
    background-position:
        0px 40%,
        right 0 top 0,
        left 50% top 0,
        left 50% top 50%,
        center bottom 70px,
        center bottom -6px;
    background-repeat: no-repeat;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 11px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #5A5A5A;
    border-bottom: 1px solid #5A5A5A;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 1px;
    bottom: 5px;
    left: 0;
    background: var(--primary);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -30px;
}

.section-title.text-center::after {
    width: 120px;
    left: 50%;
    margin-left: -60px;
}


/*** Domain Search ***/
.domain {
    background: url(../img/bg-domain.png) center center no-repeat;
    background-size: contain;
}
/** what tiko mean start**/

.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.font-serif {
    font-family: PPRadioGrotesk, ui-serif, Georgia, Cambria, Times New Roman, Times, serif
}
.font-bold {
    font-weight: 700
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.grid {
    display: grid
}
.grid-flow-row-dense {
    grid-auto-flow: row dense
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

.grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr))
}
.md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
}
.justify-around {
    justify-content: space-around
}	
.rounded-lg {
    border-radius: .5rem
}
.text-center {
    text-align: center
}
.h-20 {
    height: 5rem;
    width: 5rem;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border-width: 3px;
}	

.md\:space-x-8>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(2rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(2rem*var(--tw-space-x-reverse))
}


.mb-4 {
    margin-bottom: 1rem
}
.my-8 {
    margin-bottom: 2rem;
    margin-top: 2rem
}

.lj{
    position: relative;
    right: 16rem;
    top: 1.5rem;
}

/** what tiko mean ends**/

/*** Comparison ***/
@media (min-width: 992px) {
    .comparison::after {
        position: absolute;
        content: "";
        width: 1px;
        top: 56px;
        bottom: 20px;
        left: 50%;
        background: #DDDDDD;
    }
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--secondary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item .position-absolute {
    background: var(--secondary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
    color: var(--dark) !important;
}

.testimonial-carousel .owl-dots {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}


/*** Team ***/
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
    transition: .5s;
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}

.SM{
    font-family: pacifico;
    font-size: 30px !important;
}
/*** Footer ***/
.footer {
    background:
        url(../img/bg-round.png),
        url(../img/bg-round-2.png),
        url(../img/bg-square.png),
        url(../img/bg-line.png),
        url(../img/bg-bottom-footer.png);
    background-position:
        0px 112px,
        right 0 bottom 0,
        left 50% top 80px,
        left 50% bottom 0,
        top center;
    background-repeat: no-repeat;
    background-color: #2b2b2b;
}

.footer p {
    font-size: 15px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: #ff4500;
    transition: 1s;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .3);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}